# Godot 4+ specific ignores
.godot/
/android/
# Godot 导入与缓存文件夹
.godot/

# Godot 3 的导入缓存（如果你用的是 Godot 3）
.import/

# 导出产物
*.translation
*.html
*.png.import
*.import

# 自动化编译生成的可执行文件
bin/
*.apk
*.aab
*.exe